#overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.75);
	width: 100%;
	height: 100%;
	z-index: 50;

}

#photo {
	position: fixed;
	z-index: 100;
	top: 48%;
	left: 50%;
}

#photo img {
	border: 10px solid black;
}